services:
  model-server:
    image: tensorflow/serving:latest
    container_name: model_server
    ports:
      - "8501:8501"
    volumes:
      - ./models:/models
    command:
      - --model_config_file=/models/models.config
      - --rest_api_port=8501

  backend:
    build: backend
    image: lab-backend
    container_name: backend_app
    ports:
      - "8080:80"
    environment:
      - MODEL_URL=http://model-server:8501/v1/models
    depends_on:
      - model-server

  frontend:
    build: frontend
    image: lab-frontend
    container_name: streamlit_frontend
    ports:
      - "8502:8502"
    environment:
      - API_URL=http://backend
      - STREAMLIT_SERVER_PORT=8502
    depends_on:
      - backend
